body {
  margin: 0;
  color: #202020;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.App {
  text-align: center;
  padding: 10px;
}

.search-container {
  margin: 10px;
}

.filters-container {
  margin: 10px;
}

.select-country, .select-language {
  margin: 10px;
}